html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Mulish";
}

h4,
h5,
h6,
p,
span,
a {
  font-family: "Open Sans";
}

h1 {
  color: #e0e0e0;
}

h2 {
  color: black;
}

h3 {
  color: #ffd700;
}

p {
  color: #333;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: #F64C72;
  cursor: pointer;
}

h1 {
  font-size: clamp(1.25rem, 2vw, 3rem);
}

h2 {
  font-size: clamp(1rem, 3rem, 3rem);
  font-weight: 400;
  position: relative;
}

h3 {
  font-size: clamp(0.875rem, 1vw, 1.25rem);
}

p {
  font-size: clamp(0.875rem, 1vw, 1.25rem);
}

.grid__container {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  max-width: min(1000px, 100% - 40px);
  margin: 0 auto;
  grid-template-rows: auto;
}
.grid__container--center {
  justify-content: center;
  align-items: center;
}

.flex__container, .about__feature--icon, .navbar__links {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  max-width: 1000px;
}
.flex__container--center, .about__feature--icon {
  justify-content: center;
  align-items: center;
}
.flex__container--end, .navbar__links {
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.navbar__logo {
  height: 3.125rem;
  width: 3.125rem;
  cursor: pointer;
}
.navbar__title {
  font-size: 1rem;
  font-weight: 700;
  color: #F64C72;
}
.navbar__links {
  gap: 2rem;
}

.btn, .our_mission__right--button, .hero__cta--button {
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  color: white;
}
.btn__solid--primary {
  background-color: #e0e0e0;
}
.btn__solid--primary:hover {
  background-color: #F64C72;
}
.btn__solid--secondary, .hero__cta--button {
  background-color: #F64C72;
}
.btn__solid--secondary:hover, .hero__cta--button:hover {
  background-color: #e0e0e0;
}
.btn__outline, .our_mission__right--button {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}
.btn__outline:hover, .our_mission__right--button:hover {
  background-color: #e0e0e0;
  color: #F64C72;
}
.btn__ghost {
  background-color: transparent;
  color: #e0e0e0;
  border: 1px solid transparent;
}
.btn__ghost:hover {
  background-color: #e0e0e0;
  color: #fff;
}

.hero {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(109, 83, 87, 0.5), url("/assets/images/home/hero-bg.png") no-repeat center center/cover;
  color: #F64C72;
  padding: 2rem;
  height: 60vh;
  text-align: center;
  width: 100%;
}
@media (min-width: 48rem) {
  .hero {
    height: 60vh;
    padding: 3rem;
  }
}
@media (min-width: 64rem) {
  .hero {
    height: 90vh;
  }
}
.hero__title {
  font-weight: 700;
  font-size: 1.75rem;
  color: #fff;
  width: 90%;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 2.25rem;
    width: 80%;
  }
}
@media (min-width: 64rem) {
  .hero__title {
    font-size: 3rem;
    width: 45%;
  }
}
.hero__description {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  width: 90%;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .hero__description {
    font-size: 1.125rem;
    width: 80%;
  }
}
@media (min-width: 64rem) {
  .hero__description {
    width: 45%;
  }
}
.hero__cta {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .hero__cta {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1rem;
  }
}
@media (min-width: 64rem) {
  .hero__cta {
    width: 40%;
  }
}
.hero__cta--email {
  border: 2px solid #BBC8D4;
  outline: 0;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 2px;
}
@media (min-width: 48rem) {
  .hero__cta--email {
    flex: 1;
  }
}
.hero__cta--button {
  border-radius: 0.25rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .hero__cta--button {
    width: auto;
  }
}

.about {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 70%;
  box-shadow: 0px 10px 15px 0px rgba(126, 97, 97, 0.25);
  margin: -4% auto 0 auto;
  background-color: white;
}
@media (max-width: 63.99875rem) {
  .about {
    width: 100%;
    padding: 3rem;
  }
}
.about__underline {
  background: #F64C72;
  width: 80%;
  height: 2px;
}
.about__title--heading {
  margin-bottom: 0.625rem;
}
.about__title--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__description {
  color: rgb(109, 125, 139);
  text-align: center;
  width: 85%;
  line-height: 1.8125rem;
  font-size: 1.125rem;
}
.about__features {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 63.99875rem) {
  .about__features {
    width: 100vw;
    padding: 3rem 0 0 0;
  }
}
@media (max-width: 63.99875rem) and (max-width: 63.99875rem) {
  .about__features {
    justify-content: space-evenly;
  }
}
.about__feature {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: auto; /* Or a specific width that accommodates the steps and spacing */
  flex-wrap: nowrap;
}
.about__feature:not(:last-child) {
  margin-right: 10px;
}
.about__feature--icon {
  position: relative;
  border: 1px solid rgb(37, 49, 60);
  padding: 1rem;
  border-radius: 100%;
  height: 3.75rem;
  width: 3.75rem;
}
@media (max-width: 47.99875rem) {
  .about__feature--icon {
    display: none;
  }
}
.about__feature--icon::before, .about__feature--icon::after {
  content: "";
  position: absolute;
  background-color: rgb(37, 49, 60);
  height: 1px;
  width: 100px;
}
.about__feature--icon::before {
  transform: translateX(-80%);
}
@media (max-width: 63.99875rem) {
  .about__feature--icon::before {
    transform: translateX(-80%);
  }
}
.about__feature--icon::after {
  transform: translateX(80%);
}
@media (max-width: 63.99875rem) {
  .about__feature--icon::after {
    transform: translateX(80%);
  }
}
.about__feature--title {
  text-transform: uppercase;
  color: rgb(109, 125, 139);
  margin-top: 0;
  font-size: 1.125rem;
  width: 60%;
  margin-left: auto;
}
@media (max-width: 47.99875rem) {
  .about__feature--title {
    display: none;
  }
}

.our_team {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.our_team__title {
  text-align: center;
}

.our_team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: white;
}
@media (max-width: 63.99875rem) {
  .our_team__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 47.99875rem) {
  .our_team__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

.our_team__member {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #BBC8D4;
}
@media (max-width: 63.99875rem) {
  .our_team__member {
    padding: 1rem;
  }
}
.our_team__member__name {
  text-align: center;
}
@media (min-width: 48rem) {
  .our_team__member__name {
    text-align: left;
  }
}
.our_team__member__description {
  text-align: center;
}
@media (min-width: 48rem) {
  .our_team__member__description {
    text-align: left;
  }
}
@media (max-width: 47.99875rem) {
  .our_team__member__description {
    text-align: justify;
  }
}

.carousel {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  background-color: white;
  position: relative;
}
.carousel__button {
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.carousel__button--left {
  position: absolute;
  left: 3.75rem;
  bottom: -3.125rem;
  background-color: transparent;
  gap: 0.5rem;
}
.carousel__button--right {
  position: absolute;
  background-color: transparent;
  right: 3.75rem;
  bottom: -3.125rem;
  gap: 0.5rem;
}
.carousel__item {
  flex-shrink: 0;
  width: 23.75%;
  height: 26.25rem;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.25);
  border-radius: 0.5rem;
}
@media (max-width: 1024px) {
  .carousel__item {
    width: 31.6666666667%;
  }
}
@media (max-width: 768px) {
  .carousel__item {
    width: 95%;
  }
}
.carousel__item-image {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.carousel__item-title {
  font-weight: 600;
  padding: 0;
  color: rgb(85, 61, 103);
  font-size: 1.5rem;
  margin-top: 0.625rem;
  padding: 0 1rem;
  margin-bottom: 0;
}
.carousel__item-role {
  font-weight: 400;
  padding: 0 1rem;
  margin: 0;
  font-family: "Mulish";
  color: rgb(109, 125, 139);
}
.carousel__item-description {
  font-weight: 400;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  margin-top: 0.625rem;
  font-family: "Open Sans";
  color: rgb(109, 125, 139);
}

.carousel__container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease;
}
.carousel__container::-webkit-scrollbar {
  display: none;
}

.carousel__parent {
  overflow: hidden;
  width: 95%;
  height: 28.125rem;
}

.specialities {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.specialities__card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px 0px rgba(6, 0, 0, 0.25);
  width: 21.875rem;
  padding: 2rem;
  z-index: 10;
  background-color: white;
}
.specialities__card--title {
  font-size: 1.625rem;
  font-weight: 400;
  color: rgb(85, 61, 103);
  margin-bottom: 0;
}
.specialities__card--description {
  text-align: center;
  color: rgba(73, 92, 118, 0.7);
}

.achievements {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  background-color: #F64C72;
  transform: translateY(-20%);
}
.achievements__title {
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}
.achievements__description {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  text-align: center;
  width: 60%;
}
.achievements__stats {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 2rem;
  gap: 3rem;
}
.achievements__stat--value {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin: 0;
}
.achievements__stat--title {
  font-size: 0.875rem;
  font-weight: 400;
  color: white;
  margin: 0;
}

.what_we_do {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.what_we_do__heading {
  width: 30%;
  text-align: center;
}
.what_we_do--title {
  margin-bottom: 0.625rem;
}
.what_we_do--title-underline {
  background: #F64C72;
  height: 2px;
  display: block;
  width: 80%;
  margin: auto;
}
.what_we_do__cards {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.what_we_do__card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px 0px rgba(6, 0, 0, 0.25);
  width: 21.875rem;
  padding: 2rem;
  z-index: 10;
  background-color: white;
}
.what_we_do__card--title {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgb(85, 61, 103);
  margin-bottom: 0;
}
.what_we_do__card--description {
  text-align: center;
  color: rgba(73, 92, 118, 0.7);
}

.our_mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-top: 7.5rem;
}
.our_mission__left--banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our_mission__right {
  background-color: #F64C72;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our_mission__right--title {
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
  text-align: center;
}
.our_mission__right--description {
  width: 70%;
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */