@use "../../layouts/flex" as flex;
@use "../../layouts/grid" as grid;
@use "../../abstract/variables" as theme;
@use "../../utils" as utils;

.our_team {
  @include flex.flex-container(column, center, center);
  padding: theme.$padding-large;
 
  &__heading{
  
    &--title {
      text-align: center;
      margin-bottom: 0.625rem;
      text-transform: uppercase;

      @include utils.breakpoint-down(mobile) {
        font-size: 2.5rem;
      }
    }
      &--underline{
    background: theme.$secondary-color;
    width: 80%;
    height: 2px;
    display: block;
    margin: auto;
    margin-bottom: utils.rem(40)
  }
  }
}

.our_team__container {
  @include grid.grid-layout(4, 1rem);
  background-color: white;

  @include utils.breakpoint-down(tablet) {
    @include grid.grid-layout(2, 1rem);
  }

  @include utils.breakpoint-down(mobile) {
    @include grid.grid-layout(1, 1rem);
  }
}

.our_team__member {
  box-shadow: theme.$shadow-small;
  padding: theme.$padding-medium;
  border-radius: theme.$border-radius-small;
  border: 1px solid theme.$border-color;

  @include utils.breakpoint-down(tablet) {
    padding: theme.$padding-small;
  }

  &__name {
    text-align: center;

    @include utils.breakpoint(tablet) {
      text-align: left;
    }
  }


  &__description {
    text-align: center;

    @include utils.breakpoint(tablet) {
      text-align: left;
    }

    @include utils.breakpoint-down(mobile) {
      text-align: justify;
    }
  }
}
